.container{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-top:4%;
    width:82%;
}
.barres{
    display: block;  
    width: 10%;
}
.trait1{
    width: 50%;
    height: 5px;
    margin-left: 12px;
    background-color: #1B3D71;
    margin-bottom: 5px;
}
.trait2{
    width: 70%;
    height: 5px;
    background-color: #1B3D71;
}
.titre{
    color: #1B3D71;
    margin-right: 3%;
    font-weight: bold;
}
.titres h1{
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 20px;
}
.lignes55{
    width: 69%;
    margin-top: 14px;
    height: 2px;
    background-color: #1B3D71;
}


/* Carousel container */
.carousel-containeracc {
    width: 80%; /* Centre le carousel et limite la largeur à 80% */
    margin: 0 auto; /* Centre le carousel */
    margin-top:1%;
    padding-bottom: 50px; /* Espace sous le carousel */
    max-height: 500px; /* Limite la hauteur totale du carousel */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
}
.carousel-containeracc .carousel-caption{
    background-color:#1B3D71;
    opacity:0.8;

}

/* Adjust the image size */
.carousel img {
    width: 100%; /* S'assure que l'image prend toute la largeur du carousel */
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    object-fit: cover; /* Remplit le conteneur tout en conservant les proportions */
    object-position: top; /* Positionne l'image pour que le haut soit visible */
}
div .carousel.slide{
    min-width:20%; 
    min-height: 20%;
    justify-content: center;
    align-items:center;
}
/* Responsive styles */
@media (max-width: 576px) {
   .titres h1{
    margin-bottom: 15px;
    font-size: 23px;
   }

   
   .lignes55{
    width: 30%;
    margin-top: 14px;
    height: 2px;
    background-color: #1B3D71;
}
   .carousel-containeracc {
    width: 80%; /* Centre le carousel et limite la largeur à 80% */
    margin: 0 auto; /* Centre le carousel */
    padding-bottom: 50px; /* Espace sous le carousel */
    max-height: 500px; /* Limite la hauteur totale du carousel */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top:4%;
    width:87%;
}
.barres{
    display: block;  
    width: 14%;
}
.carousel-containeracc .carousel-caption h3{
    font-size:10px;
}
 }
 
 
 
 
 
 



