.container3{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top:4%;
}
    .barrets3{
        display: block;  
        width: 10%;
    }
    .trait3{
        width: 20%;
        height: 5px;
        margin-left: 5px;
        background-color: #1B3D71;
        margin-bottom: 5px;
    }
    .tiret3{
        width: 70%;
        height: 5px;
        background-color: #1B3D71;
    }
    .sous-titre3{
        color: #1B3D71;
        margin-right: 1%;
        font-weight: bold;
    }
    .tiret3 h2{
        font-weight: bold;
        margin-bottom: 15px;
        margin-right: 20px;
    }
    .tiret3{
        width: 49%;
        margin-top: 14px;
        height: 2px;
        background-color: #1B3D71;
    }
    
.rectangle-blanc3 {
    background-color: white;
    padding: 20px;
    margin-top: 100px; 
    border-radius: 15px; 
    text-align: justify;
    width: 100%; 
    max-width:  70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.rectangle-blanc3 ul  {
    color: #333;
    font-size: 30px;
    text-align: left; 
    text-align: justify;
    line-height: 1.5;
    padding: 0 20px; 

}
.rectangle-blanc  li {
    color: #333;
    font-size: 30px;
    text-align: left; 
    text-align: justify;
    line-height: 1.5;
    padding: 0 20px; 

}