/* Traveaux.css */
.carrousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  max-width: 95%; /* Limite la largeur totale du carrousel */
  margin-top: 4%;
}

.traveaux-carrousel{
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
  color: #1B3D71;
  font-family: 'Anton', sans-serif;
  font-weight: 500;
}

.base {
  width: 100%;
  max-width: 99%; /* Ajuste la largeur du carrousel */
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.image img {
  border-radius: 8px;
  max-height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6); /* Légère transparence pour le fond */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.carousel-caption p {
  font-size: 1rem;
  line-height: 1.5;
}

.mother-carrousel{
  max-width: 85%;
  margin-left: 6.5%;

}

@media (max-width: 768px) {
 
  .base {
    max-width: 100%;
  }
  .carrousel-tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    max-width: 100%; /* Limite la largeur totale du carrousel */
    margin-top: 4%;
  }
  
  .traveaux-carrousel-tech{
    margin-bottom: 1%;
    align-items: center;
    justify-content: center;
    color: #1B3D71;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
  }
  
  .base {
    width: 100%;
    max-width: 99%; /* Ajuste la largeur du carrousel */
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .image img {
    border-radius: 8px;
    max-height: 300px;
    object-fit: cover;
  }
  
  .carousel-caption-tech {
    background: rgba(0, 0, 0, 0.6); /* Légère transparence pour le fond */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .carousel-caption-tech h3 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 5px;
  }
  
  .carousel-caption p {
    font-size: 1rem;
    line-height: 1;
  }
  
  .mother-carrousel{
    max-width: 100%;
    margin-left: 6%;
  
  }
}
