.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width:30%;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .previous-btn .arrow-left {
    margin-right: 10px; /* Espace entre la flèche et le texte */
  }
  
  .btn:hover {
    background-color: #45a049;
    color:white;
  }
  
  .home-btn {
    background-color: #1B3D71;
  }
  
  .home-btn:hover {
    background-color: rgb(114, 117, 255);
    color: white;
  }
  /* Responsive styles */
@media (max-width: 576px) {
  .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
  }
  
  .btn {
    padding: 5px 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .previous-btn .arrow-left {
    margin-right: 20px; /* Espace entre la flèche et le texte */
  }
  
  .btn:hover {
    background-color: #45a049;
    color:white;
  }
  
  .home-btn {
    background-color: #1B3D71;
  }
  
  .home-btn:hover {
    background-color: rgb(114, 117, 255);
    color: white;
  }
}

