.info-card {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajustez cette largeur selon votre design */
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .info-card-image {
    width: 100%;
    height: auto;
  }
  
  .info-card-content {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 20px;
    text-align: left;
  }
  
  .info-card-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .info-card-content p {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .info-card-link {
    color: #1a73e8;
    font-weight: bold;
    text-decoration: underline;
  }
  